<div class="section-inner">
  <h2 class="heading">Education</h2>
  <div class="content">
    <div class="item">
      <h3 class="title"><i class="fa fa-university"></i> Studies in Computer Science</h3>
      <h4 class="university"><a href="http://www.polytechnice.fr/" target="_blank">Ecole Polytechnique Universitaire Polytech’Nice-Sophia</a> <span class="year">(2013-Present)</span></h4>
      <h4 class="university"><spans class="fa fa-info">   Three-year degree in Computer Science</spans></h4>
      <h4 class="university"><spans class="fa fa-map-marker">   Sophia-Antipolis, France</spans></h4>
    </div><!--//item-->
    <div class="item">
      <h3 class="title"><i class="fa fa-university"></i> C.P.G.E. (Classes Préparatoires aux Grandes Ecoles)</h3>
      <h4 class="university"><a href="http://www.lyc-stex-mantes.ac-versailles.fr/" target="_blank">High School Saint-Exupéry</a> <span class="year">(2011-2013)</span></h4>
      <h4 class="university"><spans class="fa fa-info">   Preparatory Classes for national competitive entrance exams to leading French “Grandes Ecoles” (graduate schools), specializing in mathematics and physics</spans></h4>
      <h4 class="university"><spans class="fa fa-map-marker">   Mantes-la-Jolie, France</spans></h4>
    </div><!--//item-->
    <div class="item">
      <h3 class="title"><i class="fa fa-graduation-cap"></i> Diploma “Baccalauréat S”</h3>
      <h4 class="university"><a href="http://www.lyc-stex-mantes.ac-versailles.fr/" target="_blank">High School Saint-Exupéry</a> <span class="year">(2008-2011)</span></h4>
      <h4 class="university"><spans class="fa fa-info">   Equivalent to British ‘A’ Levels or American High School Diploma. Graduated with honors</spans></h4>
      <h4 class="university"><spans class="fa fa-map-marker">   Mantes-la-Jolie, France</spans></h4>
    </div><!--//item-->
  </div><!--//content-->
</div><!--//section-inner-->
