<div class="section-inner">
  <h2 class="heading sr-only">Basic Information</h2>
  <div class="content">
    <ul class="list-unstyled">
      <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Antibes, France</li>
      <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="mailto:guillaume.rahbari@gmail.com">guillaume.rahbari@gmail.com</a></li>
      <li><i class="fa fa-phone"></i><span class="sr-only">Phone:</span>(+33) 6 47 89 47 18</li>
      <li><i class="fa fa-user"></i><span class="sr-only">Born:</span>Born June 16, 1993 in Mulhouse, France</li>
      <li><i class="fa fa-globe"></i><span class="sr-only">Nationality:</span>French</li>
    </ul>
  </div><!--//content-->
</div><!--//section-inner-->
