<div class="section-inner">
  <h2 class="heading">Languages</h2>
  <div class="content">
    <ul class="list-unstyled">
      <li class="item">
        <span class="title"><strong>French:</strong></span>
        <span class="level">Mother tongue <br class="visible-md visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </span>
      </li><!--//item-->
      <li class="item">
        <span class="title"><strong>English:</strong></span>
        <span class="level">Fluent <br class="visible-md visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i><i class="fa fa-star-half"></i></span>
        <h4 class="information">T.O.E.I.C® – score 870/990</h4>
      </li><!--//item-->
      <li class="item">
        <span class="title"><strong>Spanish:</strong></span>
        <span class="level">Working knowledge <br class="visible-md visible-xs"/><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></span>
      </li><!--//item-->
    </ul>
  </div><!--//content-->
</div><!--//section-inner-->
