<div class="section-inner">
  <h2 class="heading">Languages</h2>
  <div class="content">
    <ul class="list-unstyled">
      <li class="item" ng-repeat="item in languages.items" ng-switch="item.title">
        <span class="title"><strong>{{item.title}}:</strong></span>
        <span class="level">{{item.level}}
          <br class="visible-md visible-xs"/>
          <span ng-switch-when="French">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </span>
          <span ng-switch-when="English">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half"></i>
          </span>
          <span ng-switch-when="Spanish">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </span>
          <h4 class="information">{{item.info}}</h4>
        </span>
      </li>
    </ul>
  </div><!--//content-->
</div><!--//section-inner-->
