<div class="section-inner">
  <h2 class="heading">About Me</h2>
  <div class="content">
    <p>
      Hi ! I am a student in Computer Science.<br/>
      I am currently looking for a 2/3-month job or an internship which
      will enable me to both apply the skills I have acquired during my studies and gain international experience. <br/>
    </p>
    <p>
      I am really interested in working abroad to discover other countries. <br/>
      Actually, i travelled a lot during my childhood.
      I went to the USA, Germany, Spain, Turkey, Mauritius, Tunisia, and Scotland.
    </p>
    <p>
      During my free time
    <ul>
      <li>I like to play sports (soccer, swim, tennis) to clear my mind.</li>
      <li>I like to inform myself on new technologies, learn new software skills and improve mine.</li>
      <li>For the rest, I like to spend my time with my friends or relax playing videos games or watching movies.</li>
    </ul>
    </p>
  </div><!--//content-->
</div><!--//section-inner-->
