<div class="section-inner">
  <h2 class="heading">Work Experience</h2>
  <div class="content">
    <div class="item" ng-repeat="item in workExperience.items" >
      <h3 class="title">
        {{item.title}} -
        <span class="place">
          <a ng-href="{{item.lien}}" target="_blank">{{item.nom}}</a>
        </span>
        <span class="year">
          ({{item.date}})
        </span>
      </h3>
      <p>{{item.detail}}</p>
    </div><!--//item-->

  </div><!--//content-->
</div><!--//section-inner-->
