<!-- Primary Column Start-->
<div class="primary col-md-8 col-sm-12 col-xs-12">

  <!-- Skills -->
  <section class="skills section" ng-include="'views/firstColumn/skills.html'" ng-controller="SkillsCtrl"></section>

  <!-- Work experience -->
  <section class="experience section" ng-include="'views/firstColumn/workExperience.html'" ng-controller="WorkexperienceCtrl"></section>

  <!-- About Me -->
  <section class="about section" ng-include="'views/firstColumn/aboutMe.html'" ng-controller="AboutmeCtrl"></section>

</div>
<!-- Primary Column End -->

<!-- Secondary Column Start-->
<div class="secondary col-md-4 col-sm-12 col-xs-12">

  <!-- Informations -->


  <!-- Education -->


  <!-- Languages -->


</div>
<!-- Secondary Column End -->
